<h1><%= @post.title %></h1>
<%= @post.link %>
<br>
<%= link_to "Add Comment", new_post_comment_url(@post)%>
<br>
<hr>
<h2> Comments </h2>



  <% last_reply_id = 0; count_tables = 0%>
<% @comments.each do |comment| %>
  <%  if last_reply_id != comment.reply_id  %>
    <% last_reply_id = comment.reply_id  %>
    <% count_tables += 1 %>
    <table border="1">
      <td>
  <% end %>
  <%= comment.body %> | <%= comment.username%>
  <%= link_to "Add Reply", post_comment_url(@post, comment) %> <br>
<% end %>
<% count_tables.times do |num| %>
  </td></table>
<% end %>


